*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

/*1 rem=10px*/
header{
    background-color: #0475ba;
    height: 7rem;
    color:white;
    display: flex;
    align-items: center;
}

header h2{
    margin-right: 3rem;
    margin-left:1rem;
}
.nav-links>a{
    padding: 1rem;
}
.section-content{
    padding: 4rem;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.section-content h2{
    color:#0475ba ;
    font-family: 'Poppins',sans-serif;
}
.section-content h1{
    color:black;
    font-family: 'Poppins',sans-serif;
}
.container{
    padding: 4rem;
    max-width: 80rem;
    margin:0 auto ;
}
img{
    border-radius: 100%;
    width: 150px;
}
.name-job{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.name-job h1{
    margin-bottom:1rem;
}
.presentation{
    background-color: #0475ba;
    height: 15rem;
    color:white;
    align-items:center;
    justify-content:center;
    }
.presentation h1{
    margin-right: 40rem;
    margin-bottom: 2rem;
}
.presentation li{
    margin-left: 2em;
}
.Expériences{
    background-color:white;
    height: 25rem;
    color:black;
    align-items:center;
    justify-content:center;
    ;
}
.Expériences ul li{
    list-style:none;
}
.Expériences h2{
    color: #0475ba;
    margin-bottom: 2rem;
}

@media screen and (max-width:1000px){
    .section-exp{
        flex-direction: column-reverse;}
    }
    #exp{
        display: flex;
        justify-content: space-between;
    }
@media screen and (max-width:414px){
        .section-content{
            flex-direction: column;}
        img{
            width: 60%;
            margin-inline:inherit;
            padding-top: 1rem;
        }
        }
.Formation{
    background-color: #0475ba;
    height: 15rem;
    color:white;
    align-items:center;
    justify-content:center;
}
.Formation h2{
    margin-bottom: 2rem;
}
.Formation li{
    list-style:none;
    margin-bottom: 0.5rem;
}
.passion{
    background-color: #ffffff;
    height: 15rem;
    color:white;
    align-items:center;
    justify-content:center;
}
.passions h2 {
    color: #0475ba;
    margin-bottom: 2rem;
}
.contact{
    background-color: #0475ba;
    height: 15rem;
    color:white;
    align-items:center;
    justify-content:center;
}
a{
    color: white;
}

@font-face {
    font-family:"poppins", "Poppins-Medium";
    src: url('/fonts/poppins.ttf');
    src: url('/fonts/Poppins-Medium.ttf');
}

h1,h2,h3,h6,a,p,li{
    font-family: "poppins";
}
